<p id="notice"><%= notice %></p>

<h1>Listing Bitpay Webhooks</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bitpay_webhooks.each do |bitpay_webhook| %>
      <tr>
        <td><%= bitpay_webhook.data %></td>
        <td><%= link_to 'Show', bitpay_webhook %></td>
        <td><%= link_to 'Edit', edit_bitpay_webhook_path(bitpay_webhook) %></td>
        <td><%= link_to 'Destroy', bitpay_webhook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bitpay webhook', new_bitpay_webhook_path %>

<div style="float: right;">
<form action="https://bitpay.com/checkout" method="post" >
  <input type="hidden" name="action" value="checkout" />
  <input type="hidden" name="posData" value="" />
  <input type="hidden" name="data" value="Mld1Vd/lreMoCijW9CiIquNpLYCEVhxeWYp4qSIfaLtLIOY39B9HBiOyr3+ptOOndTFJ5YKcP2Mr31QJEsewdNQ4sdKuhuRdy3LIRW8NaoorlBGZfyz/ZJ+9OPdMywOoMpb8GFrOxpFm/entU1Cab3qJhVvXHrJbawnpkBlvtKnQPp236XGvKKEA98O5JD5NUAY7kgU/dEDpihZbaYzDPWdL5clM15wc2AbOjMOcvF4Xp/84NH2KdZM1id6Itfok8HLOhehDDoqhJ7N4mo9uKditiwx2GOH/qpkV+uPt3kQ=" />
  <input type="image" src="https://bitpay.com/img/button-medium.png" border="0" name="submit" alt="BitPay, the easy way to pay with bitcoins." >
</form>
</div>
