<%- model_class = BitpayWebhook -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Invoice) %></th>
      <th><%= model_class.human_attribute_name(:btcPaid) %></th>
      <th><%= model_class.human_attribute_name(:btcDue) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:txid) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:info) %></th>
    </tr>
  </thead>
  <tbody>
    <% @bitpay_webhooks.each do |bitpay_webhook| %>
      <tr>
        <td><%= link_to bitpay_webhook.orderId, bitpay_webhook.url, target: "_blank", class: "black-link" %></td>
        <td><%= bitpay_webhook.btcPaid %></td>
        <td><%= bitpay_webhook.btcDue %></td>
        <td><%= bitpay_webhook.rate %></td>
        <td><%= link_to short(bitpay_webhook.txid), tx_link(bitpay_webhook.txid), target: "_blank", class: "orange-link"  %></td>
        <td><%=l bitpay_webhook.created_at %></td>
        <td><%= link_to "Details", bitpay_webhook %></td>
      </tr>
    <% end %>
  </tbody>
</table>
