<%- model_class = BitpayWebhook -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
  <dd><%= @bitpay_webhook.data %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @bitpay_webhook.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bitpay_id) %>:</strong></dt>
  <dd><%= @bitpay_webhook.bitpay_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @bitpay_webhook.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:btcPrice) %>:</strong></dt>
  <dd><%= @bitpay_webhook.btcPrice %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @bitpay_webhook.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency) %>:</strong></dt>
  <dd><%= @bitpay_webhook.currency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:invoiceTime) %>:</strong></dt>
  <dd><%= @bitpay_webhook.invoiceTime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:expirationTime) %>:</strong></dt>
  <dd><%= @bitpay_webhook.expirationTime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currentTime) %>:</strong></dt>
  <dd><%= @bitpay_webhook.currentTime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:btcPaid) %>:</strong></dt>
  <dd><%= @bitpay_webhook.btcPaid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:btcDue) %>:</strong></dt>
  <dd><%= @bitpay_webhook.btcDue %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rate) %>:</strong></dt>
  <dd><%= @bitpay_webhook.rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:exceptionStatus) %>:</strong></dt>
  <dd><%= @bitpay_webhook.exceptionStatus %></dd>
  <dt><strong><%= model_class.human_attribute_name(:buyerFields) %>:</strong></dt>
  <dd><%= @bitpay_webhook.buyerFields %></dd>
  <dt><strong><%= model_class.human_attribute_name(:transactions) %>:</strong></dt>
  <dd><%= @bitpay_webhook.transactions %></dd>
  <dt><strong><%= model_class.human_attribute_name(:orderId) %>:</strong></dt>
  <dd><%= @bitpay_webhook.orderId %></dd>
  <dt><strong><%= model_class.human_attribute_name(:txid) %>:</strong></dt>
  <dd><%= @bitpay_webhook.txid %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              bitpay_webhooks_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bitpay_webhook_path(@bitpay_webhook), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bitpay_webhook_path(@bitpay_webhook),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
