<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:balance) %></th>
      <th>Total Donations</th>
      <th>Daily Deposit</th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr <%= raw("class=hid hidden='hidden' style='background-color: #d89494;'") if client.hidden %> >
        <td><%= link_to client.name, client, class: "black-link" %></td>
        <td title="<%= client.balance %> BTC">$<%= price_round(client.balance * @spot_price) %></td>
        <td>$<%= price_round(client.total_donations) %></td>
        <td>$<%= price_round(client.daily_usd_amount) %></td>
        <td><%= client.active ? fa_icon("check-square", style: "color:green;padding-right:2px;", text: "Yes") : fa_icon("window-close", style: "color:red;padding-right:2px;", text: "No") %></td>
        <td><%= client.created_at.to_date %></td>
        <td>
          <%= link_to 'Activate/Deactivate',
                      toggle_client_path(client),
                      :method => :toggle_activation,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-default btn-xs',
                      :disabled => client.hidden %>
          <% link_to 'Test Deposit', test_deposit_client_path(client), method: :put, :class => 'btn btn-default btn-xs'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_client_path,
            :class => 'btn btn-primary black-link' %>

