<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @client.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:daily_usd_amount) %>:</strong></dt>
  <dd>$<%= price_round(@client.daily_usd_amount) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @client.active ? fa_icon("check-square", style: "color:green;padding-right:2px;", text: "Yes") : fa_icon("window-close", style: "color:red;padding-right:2px;", text: "No")  %></dd>
  <dt><strong>Last Known Balance:</strong></dt>
  <dd>$<%= price_round(@client.balance * @spot_price) %></dd>
  <dt><strong>Deposit Address:</strong></dt>
  <dd><%= link_to @client.primary_wallet, address_link(@client.primary_wallet) %></dd>
  <br>
  <a style="border: 2px solid grey" class="btn btn-success btn-xs" onclick="reveal('seed')">Reveal Wallet Seed:</a>
  <br>
  <div style="padding-top: 3px"><p style="font-size: medium;" class="myHiddenText" id="seed"><%= @client.mnemonic %></p></div>
</dl>


<br>
<%= link_to 'Test Deposit', test_deposit_client_path, method: :put, :class => 'btn btn-warning btn-xs', style: "color: white", :disabled => @client.hidden  %>
<br>
<%= link_to 'Activate/Deactivate', toggle_client_path, :method => :toggle_activation, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger', style: "color: white; margin-top: 4px", :disabled => @client.hidden %>
<br><br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              clients_path, :class => 'btn btn-default btn-xs'  %>
