<%- model_class = Transaction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:txid) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:fees) %></th>
      <th><%= model_class.human_attribute_name(:received) %></th>
      <th><%= model_class.human_attribute_name(:validated) %></th>
      <th><%= model_class.human_attribute_name(:client_was) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to short(transaction.txid), tx_link(transaction), target: "_blank", title: transaction.txid  %></td>
        <td>$<%= transaction.total_usd_price %></td>
        <td>$<%= transaction.fees_usd_price %></td>
        <td><%= format_time(transaction.received) %></td>
        <td><%= transaction.validated %></td>
        <td><%= transaction.client_was %></td>
        <td>
          <%= link_to "Details", transaction_path(transaction), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
