<%- model_class = Transaction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:txid) %></th>
      <th><%= model_class.human_attribute_name(:sent) %></th>
      <th><%= model_class.human_attribute_name(:fees) %></th>
      <th><%= model_class.human_attribute_name(:client) %></th>
      <th>Tx/Rx</th>
      <th><%= model_class.human_attribute_name(:Valid) %></th>
      <th><%= model_class.human_attribute_name(:received) %></th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to short(transaction.txid), tx_link(transaction.txid), class: "orange-link", target: "_blank", title: transaction.txid  %></td>
        <td title="$<%= to_usd(transaction.sent) %> at current spot price">$<%= price_round(transaction.sent_usd_price)%></td>
        <td title="$<%= to_usd(transaction.fees) %> at current spot price">$<%= price_round(transaction.fees_usd_price)%></td>
        <td><%= link_to(transaction.transactor.name, transaction.transactor, class: "black-link") %></td>
        <td><%= transaction.client_was.capitalize %></td>
        <td><%= transaction.validated ? fa_icon("check-square", style: "color:green;padding-right:2px;", text: "Yes") : fa_icon("window-close", style: "color:red;padding-right:2px;", text: "No")  %></td>
        <td><%= format_time(transaction.received) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
