<p id="notice"><%= notice %></p>

<p>
  <strong>Txid:</strong>
  <%= @transaction.txid %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @transaction.sender %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @transaction.recipient %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Time:</strong>
  <%= @transaction.time %>
</p>

<p>
  <strong>Block:</strong>
  <%= @transaction.block_id %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
