<%- model_class = Transaction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:txid) %>:</strong></dt>
  <dd><%= @transaction.txid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:currency) %>:</strong></dt>
  <dd><%= @transaction.currency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:block_hash) %>:</strong></dt>
  <dd><%= @transaction.block_hash %></dd>
  <dt><strong><%= model_class.human_attribute_name(:block_height) %>:</strong></dt>
  <dd><%= @transaction.block_height %></dd>
  <dt><strong><%= model_class.human_attribute_name(:addresses) %>:</strong></dt>
  <dd><%= @transaction.addresses %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
  <dd><%= @transaction.total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fees) %>:</strong></dt>
  <dd><%= @transaction.fees %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @transaction.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:preference) %>:</strong></dt>
  <dd><%= @transaction.preference %></dd>
  <dt><strong><%= model_class.human_attribute_name(:relayed_by) %>:</strong></dt>
  <dd><%= @transaction.relayed_by %></dd>
  <dt><strong><%= model_class.human_attribute_name(:confirmed) %>:</strong></dt>
  <dd><%= @transaction.confirmed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:received) %>:</strong></dt>
  <dd><%= @transaction.received %></dd>
  <dt><strong><%= model_class.human_attribute_name(:confirmations) %>:</strong></dt>
  <dd><%= @transaction.confirmations %></dd>
  <dt><strong><%= model_class.human_attribute_name(:inputs) %>:</strong></dt>
  <dd><%= @transaction.inputs %></dd>
  <dt><strong><%= model_class.human_attribute_name(:outputs) %>:</strong></dt>
  <dd><%= @transaction.outputs %></dd>
  <dt><strong><%= model_class.human_attribute_name(:wallet_id) %>:</strong></dt>
  <dd><%= @transaction.wallet_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:validated) %>:</strong></dt>
  <dd><%= @transaction.validated %></dd>
  <dt><strong><%= model_class.human_attribute_name(:client_was) %>:</strong></dt>
  <dd><%= @transaction.client_was %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              transactions_path, :class => 'btn btn-default'  %>

